<div
  class="modal fade"
  id="resultModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="resultModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content py-md-5 px-md-4 p-sm-3 p-4">
      <div class="modal-header">
        <h4
          class="modal-title text-center text-white w-100"
          id="resultModalLabel"
        >
          Hasil Prediksi Kalori Terbakar
        </h4>
        <i class="fa fa-bell"></i>
        <p id="predictionResult" class="prediction-text"></p>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            id="closeModalButton"
          >
            Tutup
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
